.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: burlywood;

    .auth-container {
        width: 350px;
    }
}
