<md-card color="primary">
    <md-card-title>Sign-in</md-card-title>
    <md-card-content>
        <div>
            <md-input placeholder="Email"></md-input>
        </div>
        <div>
            <md-input placeholder="Password"></md-input>
        </div>
    </md-card-content>
    <md-card-actions class="flex-row">
        <button md-button color="primary" [routerLink]="['/sign-up']">Create account</button>
        <div class="flex"></div>
        <button md-raised-button color="primary">Sign-in</button>
    </md-card-actions>
</md-card>
