<md-list>
    <md-list-item>
        <md-checkbox>Lisa</md-checkbox>
        <span class="flex"></span>
        <md-icon class="link" md-ripple>close</md-icon>
    </md-list-item>
    <md-list-item>
        <md-checkbox>Mark</md-checkbox>
        <span class="flex"></span>
        <md-icon class="link" md-ripple>close</md-icon>
    </md-list-item>
    <md-list-item>
        <md-checkbox>Sheldon</md-checkbox>
        <span class="flex"></span>
        <md-icon class="link" md-ripple>close</md-icon>
    </md-list-item>
</md-list>
