@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/@angular/material/core/theming/prebuilt/deeppurple-amber";


html, body {
    height: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex {
    flex: 1;
}
